{# home.html.twig #}
{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} - Accueil
{% endblock %}
{% block content %}
 <nav>{% for card in cards %}
    {% include '/../component/_card.html.twig' %}
    {% endfor %}</nav>
<h1>Bonjour {{ name }} !
   
{% endblock %}
